/*
/   Skeleton style overrides
*/
.container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
@media (min-width: 400px) {
.container {
    padding: 0 20px; }
}
a:link,
a:active,
a:visited {
    color: #EF017C;
    text-decoration:none;
    text-shadow: 2px 2px black;
}
a:hover {
    color: #eee;
    background: #EF017C;
    text-shadow: none;
}
a.button,
.button,
button,
input[type="button"] {
    color: white;
    border: none;
    border-radius: 0px;
    height: 35px;
    margin-right: .3rem;
    box-shadow: 3px 3px black;
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
    background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
    background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
    background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
}
.button:hover,
button:hover,
input[type="button"]:hover {
    color:black;
    background: rgba(255,56,159,1);
    background: -moz-linear-gradient(left, rgba(255,56,159,1) 0%, rgba(213,1,111,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,56,159,1)), color-stop(100%, rgba(213,1,111,1)));
    background: -webkit-linear-gradient(left, rgba(255,56,159,1) 0%, rgba(213,1,111,1) 100%);
    background: -o-linear-gradient(left, rgba(255,56,159,1) 0%, rgba(213,1,111,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,56,159,1) 0%, rgba(213,1,111,1) 100%);
    background: linear-gradient(to right, rgba(255,56,159,1) 0%, rgba(213,1,111,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389f', endColorstr='#d5016f', GradientType=1 );}
.button-default {
    background: rgba(255,255,255,0.1);
    color: inherit;
}
.button-default:hover {
    background: rgba(255,255,255,0.1);
    color: #EF017C;
}
input,
textarea,
select {
    width:100%;
}
form img {
    width: 100%;
}
.form-buttons {
    margin-top:1em;
}

/*
/   Custom styles
*/
body {
    background: url('../images/footer_lodyas/footer_lodyas.png');
    color: #aaa;
}
header {
    background: rgba(0,0,0,0.2);
    height: 30px;
    padding: 5px 20px 0px 20px;
}
.home {
    font-size: 2rem;
    line-height: 1.4em;
}
header a:link,
header a:active,
header a:visited {
    text-decoration: none;
    color: #aaa;
}
header a:hover {
    color: #EF017C;
    background: none;
}
.login {
    position: relative;
}
.login .user-picture {
    width: 25px;
    vertical-align: middle;
    border-radius: 15px;
    margin-top: -2px;
    margin-right: 10px;
}
.banner {
    color: white;
    box-sizing: border-box;
    background-image: url('../images/acoustic-925174_1920.jpg');
    background-size: cover;
    height: 180px;
    border-bottom: 3px solid #EF017C;
    text-align: center;
}
.title {
    color:white;
    font-family:'Lobster', cursive;
    text-shadow: 4px 3px black;
    padding-top:20px;
}
.title h1 {
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: 1.4rem;
}
.title i {
    color: #EF017C;
}
.menu-trigger {
    padding: 0.5em 20px;
    color: #EF017C;
    cursor: pointer;
    background: rgba(0,0,0,0.2);
}
#menu {
    display:none;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    margin-bottom: 0;
    padding:0;
    border-bottom: 1px solid #222;
    box-sizing: border-box;
}
#menu li:last-of-type {
    border-bottom: 4px solid #EF017C;
}
#menu a:link,
#menu a:active,
#menu a:visited {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #aaa;
    position: relative;
    box-sizing: border-box;
    padding: 1rem 20px;
}
#menu a:after {
    content: '>';
    position: absolute;
    right: 15px;
    font-size: 2rem;
    line-height: 2rem;
    color: #222;
    text-shadow: none;
}
#menu a:hover {
    background: rgba(0,0,0,0.1);
    color: #EF017C;
}
.latest .category {
    font-style: italic;
    padding-left: 1em;
}
.breadcrumb {
    margin-top: -10px;
    margin-bottom: 20px;
}
.item-picture {
    margin-left: -20px;
    margin-right: -20px;
}
.item-picture img {
    width:100%;
}
footer {
    font-size: small;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 20px 10px 20px;
}
footer img {
    height: 30px;
    margin-right: 5px;
    margin-top: 4px;
    float:left;
}
footer .extra-links {
    margin-top: 10px;
}
.login-popup {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 160px;
    padding: 10px 30px 0 30px;
    background: white;
    box-shadow: 5px 5px black;
    color: #222;
    text-align: center;
}
.login-popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.login-popup li {
    float: left;
    margin-bottom: 0;
}
.login-popup li+li {
    margin-left: 30px;
}
.login-popup a:link {
    text-shadow: none;
    color: #222;
}
.login-popup a:hover {
    color: #EF017C;
}
.login-popup img {
    width: 50px;
    height: 50px;
}



@media (min-width: 480px) {
    footer img {
        margin-top: -5px; }
}


@media (min-width: 600px) {
    .title {
        padding-top: 3em;
    }
    .banner {
        background-position: 0 -40px;
    }
    #menu {
        max-width: 300px;
    }
    footer .extra-links {
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    .banner {
        background-position: 0 -120px;
    }
    .menu-trigger {
        display: none;
    }
    #menu {
        display: block;
        float: left;
        box-sizing: border-box;
        width: 200px;
        border-right: 2px solid #EF017C;
        box-shadow: 4px 5px black;
    }
    #menu li:last-of-type {
        border-bottom: 2px solid #EF017C;
    }
    #menu a:after {
        content:none;
    }
    .container {
        float: left;
        padding-left: 30px;
        padding-top: 10px;
        width: 600px;
    }
    .container-full {
        max-width: 100%;
    }
    .item-info {
        float: left;
        width: 35%;
    }
    .item-picture {
        float: left;
        box-sizing: border-box;
        width: 65%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 20px;
    }
    .item-picture img {
        border: 1px solid black;
        box-shadow: 6px 6px black;
        max-width:640px;
    }
}

@media (min-width: 960px) {
    .container {
        width: inherit;
    }
    footer .copyright {
        float: left;
    }
    footer .extra-links {
        float: right;
        margin-top: 0;
        text-align: right;
    }
}
