{% extends "main.html" %}
{% block content %}

<div class="menu-trigger"><i class="fa fa-bars"></i> Menu</div>
<nav id="menu">
    <ul>
    {% for c in categories %}
        <li><a href="{{ url_for('showCategory', c_permalink = c.permalink) }}">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
</nav>

<div class="container">
    <h4>Latest Items Added</h4>
    <ul>
        {% for l in latest %}
        <li class="latest">
            <a href="{{ url_for('showItem', c_permalink=l.category.permalink, i_permalink=l.permalink) }}">{{ l.name }}</a>
            <br>
            <span class="category">{{ l.category.name }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
