{% extends "main.html" %}
{% block content %}

<div class="container">

    <p>Are you sure you want to delete {{ item.name }}?</p>

    {% if item.picture %}
    <p><img src="{{ url_for('static', filename='images/%s' % item.picture) }}" width="200"></p>
    {% endif %}

    <form action="#", method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <button type="button" class="button-default" onclick="javascript:window.location='{{ url_for('showItem', c_permalink = category.permalink, i_permalink = item.permalink) }}'; return false;">Cancel</button>
        <button type="submit">Delete</button>
    </form>

</div>

{% endblock %}
