{% extends "main.html" %}
{% block content %}

<div class="menu-trigger"><i class="fa fa-bars"></i> Menu</div>
<nav id="menu">
    <ul>
    {% for c in categories %}
        <li><a href="{{ url_for('showCategory', category_id=c.id) }}">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
</nav>

<div class="container">
    <h4>{{ category.name }}</h4>

    {% if 'username' in session %}
        <p><a href="{{ url_for('newItem', category_id=category.id) }}">Create New</a></p>
    {% endif %}

    <ul>
        {% for i in items %}
        <li>
        <a href="{{ url_for('showItem',
                            category_id=category.id,
                            item_id=i.id) }}">{{ i.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
