{% extends "main.html" %}
{% block content %}

<div class="container">

    <h4>Edit Item</h4>

    <form action="#", method="post" enctype="multipart/form-data">

        <label for="category">Category:</label>
        <select name="category">
        {% for c in categories %}
            <option value="{{ c.id }}"
            {% if c.id == item.category_id %}
                selected
            {% endif %}
            >{{ c.name }}</option>
        {% endfor %}
        </select>

        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="{{ item.name }}">

        <label for="description">Description:</label>
        <textarea name="description">{{ item.description }}</textarea>

        {% if item.picture %}
        <label>Current Picture:</label>
        <img src="{{ url_for('static', filename='images/%s' % item.picture) }}">

        <label for="picture">Choose a Different Picture (upload limit 4 MB):</label>
        {% else %}
        <label for="picture">Choose a Picture (upload limit 4 MB):</label>
        {% endif %}
        <input type="file" name="picture">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

        <div class="form-buttons">
            <button type="button" class="button-default" onclick="javascript:window.location='{{ url_for('showItem', category_id=category.id, item_id=item.id) }}'; return false;">Cancel</button>
            <button type="submit">Update</button>
        </div>

    </form>

</div>

{% endblock %}
