{% extends "main.html" %}
{% block content %}

<div class="container container-full">
    <div class="breadcrumb">
        <a href="{{ url_for('showCategory', c_permalink = category.permalink) }}">
            <i class="fa fa-chevron-left"></i> {{ item.category.name }}
        </a>
    </div>

    <div class="item-info">
        <h4>{{ item.name }}</h4>
        <p>{{ item.description }}</p>
        <p>
            <a href="{{ url_for('editItem', i_permalink = item.permalink) }}">Edit</a>
            |
            <a href="{{ url_for('deleteItem', i_permalink = item.permalink) }}">Delete</a>
        </p>
    </div>
    <div class="item-picture">
        <img src="{{ url_for('static', filename='images/%s' % item.picture) }}">
    </div>
</div>

{% endblock %}
