{% extends "main.html" %}
{% block content %}

<div class="menu-trigger"><i class="fa fa-bars"></i> Menu</div>
<nav id="menu">
    <ul>
    {% for c in categories %}
        <li><a href="{{ url_for('showCategory', c_permalink = c.permalink) }}">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
</nav>

<div class="container">

    <h4>{{ category.name }}</h4>
    <p><a href="{{ url_for('newItem', c_permalink = category.permalink) }}">Create New</a></p>
    <ul>
        {% for i in items %}
        <li>
        <a href="{{ url_for('showItem',
                            c_permalink = category.permalink,
                            i_permalink = i.permalink) }}">{{ i.name }}</a>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
