<!doctype html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="A simple app to demonstrate CRUD operations and user authentication and authorization.">
    <meta name="author" content="Jonathan Hunter">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{ message }} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <header>
        <div class="home u-pull-left">
            <a href="/"><i class="fa fa-home"></i></a>
        </div>
        <div class="login u-pull-right">
            {% if 'username' not in session %}
                <a id="login-link" href="#">Log In</a>
                <div class="login-popup">
                    <ul>
                        <li><a href="{{ url_for('glogin') }}">
                                <img src="{{ url_for('static', filename='images/Google_plus.svg') }}"><br>Google+
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('fblogin') }}">
                                <img src="{{ url_for('static', filename='images/F_icon.svg') }}"><br>Facebook
                            </a>
                        </li>
                    </ul>
                    <div class="u-cf"></div>
                </div>
            {% else %}
                <img class="user-picture" src="{{ session['picture'] }}" alt="{{ session['username'] }}"> <a href="/logout">Log Out</a>
            {% endif %}
        </div>
    </header>
    <div class="banner">
        <div class="title">
            <h1>
                <i class="fa fa-music" style="font-size:2rem; vertical-align:15px; letter-spacing:-15px;"></i>
                <i class="fa fa-music" style="font-size:5rem; vertical-align:middle;"></i>
                 Music for the Masses
            </h1>
        </div>
    </div>

    {% block content %}{% endblock %}
    <div class="u-cf"></div>

    <footer>
        <div class="copyright">
            <img src="{{ url_for('static', filename='images/Udacity_Logo.svg') }}" align="left">
            <span>A Udacity Full Stack Web Developer Nanodegree Student Project by <a href="https://profiles.udacity.com/u/jonathanhunter">Jonathan Hunter</a></span>
        </div>
        <div class="extra-links">
            {% if 'provider' in session %}
            <a href="/deauthorize">Deauthorize 3rd-party authentication providers</a><br>
            {% endif %}
            Download Catalog:
            <a href="{{ url_for('indexJSON') }}">JSON</a>
            | <a href="{{ url_for('indexATOM') }}">ATOM</a>
        </div>
        <div class="u-cf"></div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
