<!doctype html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="A simple app to demonstrate CRUD operations and user authentication and authorization.">
    <meta name="author" content="Jonathan Hunter">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <div class="banner"></div>
    <div class="container">

        <div class="row header">
            <div class="six columns title">
                <h1>A Catalog App</h1>
            </div>
            <div class="six columns login-link">
                <a href="/login">Log In</a>
            </div>
        </div>

        <nav class="row categories">
            <ul>
                <li><a href="#"><i class="fa fa-automobile"></i></a></li>
                <li><a href="#"><i class="fa fa-book"></i></a></li>
                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                <li><a href="#"><i class="fa fa-fighter-jet"></i></a></li>
                <li><a href="#"><i class="fa fa-film"></i></a></li>
                <li><a href="#"><i class="fa fa-motorcycle"></i></a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>
